<!doctype html>
<html>
<head>
    <meta name="description" content="<%=description%>">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="icon" href="images/favicon.png">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <style>
        .avatar.avatar-xxl {
            width: 15rem;
            height: 15rem;
        }
    </style>
    <title><%=header%></title>
</head>
<body>
<div class="container">
    <div class="columns">
        <!-- LEFT COLUMN -->
        <div class="column col-4 col-sm-12 float-right bg-dark text-light titlecol" style="padding-top: 20%; padding-left: 2em; padding-right: 2em;" ;="">
            <figure class="avatar avatar-xxl p-centered" data-initial="<%=initial%>" style="background-color: #5755d9;">
                <img src="<%=logo%>" alt="...">
            </figure>
            <h3><i class="icon icon-message text-light"></i>&nbsp;&nbsp;
                <%=header%>
            </h3>
            <div class="divider" style="padding-top: 1em;"></div>
            <h4><%=subheader%></h4>
        </div><!-- .column .col-4 .col-sm-12 -->
        <!-- RIGHT COLUMN-CLIENT AREA -->
        <div class="column col-8 col-sm-12 float-left" style="padding-top: 20%; padding-left: 2em;">
            <% entries.forEach(function(entry){ %>
            <article class="card m-1 p-1">
                <div class="card-image">
<!--                    <img src="img/osx-el-capitan.jpg" class="img-responsive">-->
                </div>
                <div class="card-header">
                    <div class="card-title h5"><a href="<%=entry['link']%>"><%=entry['title']%></a></div>

                </div>
                <div class="card-footer">
                    <div class="card-subtitle text-gray"><%=entry['date']%></div>
                    <a href="<%=entry['link']%>"><button class="btn btn-primary">Read</button></a>
                </div>
            </article>
            <% }); %>

            <p>&nbsp;</p>
        </div><!-- .column .col-8 .col-sm-12 -->
    </div><!-- .columns -->
</div>
</body>
</html>